<h1>All the Cats!</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Sex</th>
        <th>Birth Date</th>
        <th>Age</th>
        <th>Description</th>
    </tr>
     <% @cats.each do |cat| %>
    <tr>
        <td><%=cat.name%></td>
        <td><%=cat.color%></td>
        <td><%=cat.sex%></td>
        <td><%=cat.birth_date%></td>
        <td><%=cat.age%></td>
        <td><%=cat.description%></td>
    </tr>
    <%end%>
</table>